<div class="swiper-slide">
    <div class="slide-image">
        {{> modules/common/svg-icon/index src="images/malinaPromo.svg" }}
    </div>
    <div class="content">
        <div class="row">
            <span class="shop">{{name}}</span>
            <span class="promo-type">{{type}}</span>
        </div>
        <span class="promo-description">
            {{description}}
        </span>
    </div>
</div>