{{#> modules/layout/default/index }}
  <section class="page page-shares">
    <section class="page-shares__box">
        <div class="page-shares__breadcrumb">
            <a href="/">Главная</a>
            {{> modules/common/svg-icon/index src="icons/min-arrow.svg" }}
            <a href="">Акции</a>
        </div>
        <section class="page-shares__space">
            <div class="page-shares__content">
                <div>
                    <h1 class="page-shares__title">2=3 на бижутерию и аксессуары для волос MARMALATO</h1>
                    <div class="page-shares__header">
                        <div class="page-shares__map">
                            {{> modules/common/svg-icon/index src="icons/map.svg" }}
                            <span>
                                1 этаж
                            </span>
                        </div>
                        <div>
                           <button class="page-shares__button">
                               Показать на карте
                           </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="page-shares__text">Акция проходит до 30 июня</div>
                    <div class="page-shares__image">
                        {{> modules/common/svg-icon/index src="images/shares.svg" }}
                    </div>
                    <div class="page-shares__text">ВЫПУСКНОЙ – это особое событие, когда каждая деталь имеет значение.</div>
                    <div class="page-shares__text">Блеск и стиль бижутерии MARMALATO помогут тебе создать неповторимый образ, который будет радовать и днем и ночью. </div>
                    <div class="page-shares__text">А с акцией 2=3 ты можешь приобрести еще одно украшение для себя или подруги, чтобы делить радость этого особенного момента вместе. </div>
                    <div class="page-shares__text">Выглядеть стильно и привлекательно легко с MARMALATO.</div>
                </div>
                </div>
                <div class="page-shares__promotions">
                    <div class="page-shares__promotions-inner">
                        <div class="page-shares__promotions-text">
                            Похожие акции
                        </div>
                        <div class="page-shares__cards">
                                    {{#each desktopPromoList1}}
                                        <a href="/shares" class="">
                                            {{>modules/common/promo-card/index }}
                                        </a>
                                    {{/each}}
                                </div>
                    </div>
                </div>
            </section>
        </section>
    </section>
  </section>
{{/ modules/layout/default/index }}
