{{#> modules/layout/default/index }}
  <section class="page page-event page-event__space">
    <section class="box">
        <section class="box__row">
            <section class="box__col">
                <div class="page-event__breadcrumb">
                    <a href="/">Главная</a>
                    {{> modules/common/svg-icon/index src="icons/min-arrow.svg" }}
                    <a href="">Событие: Barber Battle</a>
                </div>
            </section>
        </section>
    </section>
  </section>
  <section class="page-event page-event__space">
  <section class="box__row">
      <section class="box__col box__col_xs_12">
          <div class="page-event__hero">
              {{> modules/common/svg-icon/index src="images/hero.svg" }}
          </div>
      </section>
  </section>
  </section>
  <section class="page page-event page-event__space">
  <section class="box">
      <section class="box__row">
          <section class="box__col box__col_xs_12 page-event__text-container">
              <h1 class="page-event__title">Barber Battle I Чемпионат барьеров в Изумрудном городе</h1>
             <div class="page-event__text-block">
                 <p class="page-event__text">
                     Если твои ножницы точены до блеска, если твой талант - преображать мужскую бороду в настоящее произведение искусства, если ты - настоящий мастер своего дела, то прими вызов и докажи всем - ты лучший из лучших!
                 </p>
             </div>
              <div class="page-event__text-block">
                  <p class="page-event__text">
                      🧔🏻‍ Приглашаем тебя принять участие в чемпионате Барберов в Изумрудном городе, который <br/> пройдет в самом сердце ТРЦ (атриум, 1 этаж)
                  </p>
              </div>
              <div class="page-event__text-block">
                <p class="page-event__text">💈 Оттачивай свое мастерство, воплощай в жизнь самые смелые идеи!</p>
              </div>
              <div class="page-event__line"></div>
              <div class="page-event__text-block">
                  <div class="page-event__information">
                      <span class="page-event__sub">Дата:</span>
                      <span>22 и 24 марта</span>
                  </div>
                  <div class="page-event__information">
                      <span class="page-event__sub">Время:</span>
                      <span>12:00</span>
                  </div>
                  <div class="page-event__information">
                      <span class="page-event__sub">Место:</span>
                      <span>ТРЦ Изумрудный город, 1 этаж, Атриум</span>
                  </div>
                  <div class="page-event__line"></div>
              </div>
              <div class="page-event__text-block">
                  <p class="page-event__text">
                      Приходи и покажи, на что способен настоящий мастер своего дела! 💪🏼
                  </p>
              </div>
          </section>
      </section>
  </section>
  </section>
{{/ modules/layout/default/index }}
