@import (reference) 'src/style/mixins';

.lookbook-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  color: #fff;
  --width: 100%;

  img {
    width: 100%;
    object-fit: contain;
  }

  &__text {
    position: absolute;
    bottom: calc(var(--width) * 0.115);
    left: calc(var(--width) * 0.077);
    right: calc(var(--width) * 0.038);
    white-space: pre-line;

    font-size: calc(var(--width) * 0.092);
    font-weight: 400;
    line-height: 1em;

    @media (@lg-min) {
      bottom: calc(var(--width) * 0.394);
      left: 0;
      right: 0;
      font-size: calc(var(--width) * 0.097);
      font-weight: 700;
      line-height: 0.9em;
      text-shadow: 5px 5px 20px #00000099;
      text-align: center;
    }
  }

  @media (@lg-min) {
    border-radius: 20px;

    img,
    .lookbook-card__text {
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      img,
      .lookbook-card__text {
        transform: scale(1.05);
      }
    }
  }
}