<div class="promo-card">
    <img src={{image}} />
    <div class="promo-card__content">
        <span class="promo-card__name">{{name}}</span>
        <span class="promo-card__type">{{type}}</span>
        <span class="promo-card__description">
            {{description}}
        </span>
    </div>
</div>