{{#> modules/layout/default/index }}
  <section class="page page-gallery-all">
    <section class="box page-gallery-all__box">
        <section class="box__row">
            <section class="box__col">
                <div class="page-gallery-all__breadcrumb">
                    <a href="/">Главная</a>
                    {{> modules/common/svg-icon/index src="icons/min-arrow.svg" }}
                    <a href="">Фотогалерея</a>
                </div>
            </section>
        </section>
        <section class="box__row">
            <div class="box__col">
                <div class="page-gallery-all__gallery-title">
                    2024
                </div>
                <div class="page-gallery-all__gallery-container">
                    <a href="/"  class="page-gallery-all__item page-gallery-all__item--1 j-gallery-card">
                        <img src="images/gallery-all-1.png" class="page-gallery-all__img" alt="Image 1">
                        <div class="page-gallery-all__card-text">
                            <div class="page-gallery-all__text">Второй сезон <br/> Томского FAUFAU</div>
                            <div class="page-gallery-all__date">11 марта</div>
                        </div>
                    </a>
                    <a href="/" class="page-gallery-all__item page-gallery-all__item--2 j-gallery-card">
                        <img src="images/gallery-all-1.png" class="page-gallery-all__img" alt="Image 2">
                        <div class="page-gallery-all__card-text">
                            <div class="page-gallery-all__text">Второй сезон <br/> Томского FAUFAU</div>
                            <div class="page-gallery-all__date">11 марта</div>
                        </div>
                    </a>
                    <a href="/"  class="page-gallery-all__item page-gallery-all__item--3 j-gallery-card">
                        <img src="images/gallery-all-1.png" class="page-gallery-all__img" alt="Image 3">
                        <div class="page-gallery-all__card-text">
                            <div class="page-gallery-all__text">Второй сезон <br/> Томского FAUFAU</div>
                            <div class="page-gallery-all__date">11 марта</div>
                        </div>

                    </a>
                    <a href="/" class="page-gallery-all__item page-gallery-all__item--4 j-gallery-card">
                        <img src="images/gallery-all-1.png" class="page-gallery-all__img" alt="Image 4">
                        <div class="page-gallery-all__card-text">
                            <div class="page-gallery-all__text">Второй сезон <br/> Томского FAUFAU</div>
                            <div class="page-gallery-all__date">11 марта</div>
                        </div>

                    </a>
                    <a href="/" class="page-gallery-all__item page-gallery-all__item--5 j-gallery-card">
                        <img src="images/gallery-all-1.png" class="page-gallery-all__img" alt="Image 5">
                        <div class="page-gallery-all__card-text">
                            <div class="page-gallery-all__text">Второй сезон <br/> Томского FAUFAU</div>
                            <div class="page-gallery-all__date">11 марта</div>
                        </div>

                    </a>
                    <a href="/" class="page-gallery-all__item page-gallery-all__item--6 j-gallery-card">
                        <img src="images/gallery-all-1.png" class="page-gallery-all__img" alt="Image 6">
                        <div class="page-gallery-all__card-text">
                            <div class="page-gallery-all__text">Второй сезон <br/> Томского FAUFAU</div>
                            <div class="page-gallery-all__date">11 марта</div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="box__row">
            <div class="box__col">
                <div class="page-gallery-all__gallery-title">
                    2023
                </div>
                <div class="page-gallery-all__gallery-container">
                    <a href="/" class="page-gallery-all__item page-gallery-all__item--1 j-gallery-card">
                        <img src="images/gallery-all-1.png" class="page-gallery-all__img" alt="Image 1">
                        <div class="page-gallery-all__card-text">
                            <div class="page-gallery-all__text">Второй сезон <br/> Томского FAUFAU</div>
                            <div class="page-gallery-all__date">11 марта</div>
                        </div>
                    </a>
                    <a href="/" class="page-gallery-all__item page-gallery-all__item--2 j-gallery-card">
                        <img src="images/gallery-all-1.png" class="page-gallery-all__img" alt="Image 2">
                        <div class="page-gallery-all__card-text">
                            <div class="page-gallery-all__text">Второй сезон <br/> Томского FAUFAU</div>
                            <div class="page-gallery-all__date">11 марта</div>
                        </div>
                    </a>
                    <a href="/" class="page-gallery-all__item page-gallery-all__item--3 j-gallery-card">
                        <img src="images/gallery-all-1.png" class="page-gallery-all__img" alt="Image 3">
                        <div class="page-gallery-all__card-text">
                            <div class="page-gallery-all__text">Второй сезон <br/> Томского FAUFAU</div>
                            <div class="page-gallery-all__date">11 марта</div>
                        </div>

                    </a>
                    <a href="/"class="page-gallery-all__item page-gallery-all__item--4 j-gallery-card">
                        <img src="images/gallery-all-1.png" class="page-gallery-all__img" alt="Image 4">
                        <div class="page-gallery-all__card-text">
                            <div class="page-gallery-all__text">Второй сезон <br/> Томского FAUFAU</div>
                            <div class="page-gallery-all__date">11 марта</div>
                        </div>

                    </a>
                    <a href="/" class="page-gallery-all__item page-gallery-all__item--5 j-gallery-card">
                        <img src="images/gallery-all-1.png" class="page-gallery-all__img" alt="Image 5">
                        <div class="page-gallery-all__card-text">
                            <div class="page-gallery-all__text">Второй сезон <br/> Томского FAUFAU</div>
                            <div class="page-gallery-all__date">11 марта</div>
                        </div>

                    </a>
                    <a href="/" class="page-gallery-all__item page-gallery-all__item--6 j-gallery-card">
                        <img src="images/gallery-all-1.png" class="page-gallery-all__img" alt="Image 6">
                        <div class="page-gallery-all__card-text">
                            <div class="page-gallery-all__text">Второй сезон <br/> Томского FAUFAU</div>
                            <div class="page-gallery-all__date">11 марта</div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    </section>
  </section>
{{/ modules/layout/default/index }}
