{{#> modules/layout/default/index }}
  <div class="page page_gray page-index">
      <section>
          <div class="swiper main-swiper">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="slide-image">
                          <img src="images/mainBanner.png" />
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="slide-image">
                          <img src="images/mainBanner.png" />
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="slide-image">
                          <img src="images/mainBanner.png" />
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="slide-image">
                          <img src="images/mainBanner.png" />
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="slide-image">
                          <img src="images/mainBanner.png" />
                      </div>
                  </div>
              </div>
              <div class="swiper-pagination"></div>
          </div>
      </section>
      <section class="tiles">
        <a href="#" class="tile">
            {{> modules/common/svg-icon/index src="icons/shop_icon.svg" }}
            <span>Магазины</span>
        </a>
          <a href="#" class="tile">
              {{> modules/common/svg-icon/index src="icons/kids.svg" }}
              <span>Детям</span>
          </a>
          <a href="#" class="tile">
              {{> modules/common/svg-icon/index src="icons/uslugi.svg" }}
              <span>Услуги</span>
          </a>
          <a href="#" class="tile">
              {{> modules/common/svg-icon/index src="icons/food.svg" }}
              <span>Еда</span>
          </a>
          <a href="#" class="tile">
              {{> modules/common/svg-icon/index src="icons/services.svg" }}
              <span>Сервисы</span>
          </a>
          <a href="#" class="tile">
              {{> modules/common/svg-icon/index src="icons/entertaintments.svg" }}
              <span>Развлечения</span>
          </a>
          <a href="#" class="tile">
              {{> modules/common/svg-icon/index src="icons/photos.svg" }}
              <span>Фотографии</span>
          </a>
      </section>
      <section class="promo">
          <div class="promo__label-row">
              <span class="promo__label">Сейчас в изумрудном</span>
              <a href="#" class="promo__all-promo">
                  <span>Все предложения </span>
                  {{> modules/common/svg-icon/index src="icons/promoArrow.svg" }}
              </a>
          </div>
          <div class="swiper promo-swiper">
              <div class="swiper-wrapper">
                  <a href="#" class="swiper-slide coupon-swiper-slide">
                      <img src="images/malina.png" />
                  </a>
                  <a href="#" class="swiper-slide coupon-swiper-slide">
                      <img src="images/marmalato.png" />
                  </a>
                  <a href="#" class="swiper-slide coupon-swiper-slide">
                      <img src="images/gloriaJeans.png" />
                  </a>
                  <a href="#" class="swiper-slide coupon-swiper-slide">
                      <img src="images/reStore.png" />
                  </a>
              </div>
          </div>
      </section>
      <div class="purple-container">
          <section class="coupons">
              <div class="coupons__main-info">
                  <img class="coupons__main-info__right-izumrud" src="images/rightIzumrud.png" />
                  <img class="coupons__main-info__left-izumrud" src="images/leftIzumrud.png" />
                  <div class="coupons__main-info__text">
                      <span class="coupons__main-info__label">Накапливай Изумруды
                      – получай купоны</span>
                      <span class="coupons__main-info__value">1 Изумруд = 100₽</span>
                      <div class="coupons__main-info__question-container">
                          <span class="coupons__main-info__question">как получить изумруды?</span>
                      </div>
                  </div>

                  <div class="coupons__main-info__app">
                      <img class="coupons__main-info__app-qr" src="images/qr.png" />
                      <div class="coupons__main-info__app-info">
                      <span class="coupons__main-info__mobile-app-label">
                          Cкачайте бесплатное
                          приложение
                      </span>
                          <a href="#" class="coupons__main-info__app-link">
                              <img class="coupons__main-info__app-image" src="images/appStore.png" />
                          </a>
                          <a href="#" class="coupons__main-info__app-link">
                              <img class="coupons__main-info__app-image" src="images/googlePlay.png" />
                          </a>
                          <span class="coupons__main-info__desktop-app-label">
                          Наведите камеру
                          и скачайте
                          бесплатное приложение
                      </span>
                      </div>
                  </div>
              </div>
              <div class="coupons__items-container">
                  <div class="coupons__items-container__row">
                      <span class="coupons__items-container__label">Наши комплименты</span>
                      <a href="#" class="coupons__items-container__all">
                          Доступно 47 купонов
                          {{> modules/common/svg-icon/index src="icons/whiteArrow.svg" }}
                      </a>
                  </div>
                  <div class="swiper coupons-swiper">
                      <div class="swiper-wrapper">
                          <a href="#" class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon2.png" />
                          </a>
                          <a href="#" class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon2.png" />
                          </a>
                          <a href="#" class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon2.png" />
                          </a>
                          <a href="#" class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon3.png" />
                          </a>
                          <a href="#" class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon3.png" />
                          </a>
                          <a href="#" class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon4.png" />
                          </a>
                          <a href="#" class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon4.png" />
                          </a>
                      </div>
                  </div>
              </div>
          </section>
          <section class="goodwin">
              <div class="goodwin__label-container">
                <span class="goodwin__label">Кинотеатр GOODWIN</span>
                  <a href="#" class="goodwin__link">
                      <span>Все сеансы</span>
                      {{> modules/common/svg-icon/index src="icons/whiteArrow.svg" }}
                  </a>
              </div>
              <div class="goodwin__buttons-container">
                  <a href="#" class="goodwin__promo-link">
                      Акции
                  </a>
                  <img class="goodwin__cinema-logo" src="images/goodwin.png" />

                  <div class="goodwin__poster-buttons">
                      <button class="goodwin__poster-type-button">Сегодня в кино</button>
                      <button class="goodwin__poster-type-button">Скоро в кино</button>
                  </div>
              </div>
              <div class="swiper goodwin-swiper">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide goodwin-swiper__slide">
                          <a href="#"><img src="images/movie1.png" /></a>
                          <a href="#" class="text">Манюня: Приключения в Москве (2D, 6+)</a>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <a href="#"><img src="images/movie2.png" /></a>
                          <a href="#" class="text">Незнакомцы: Начало (2D, 18+)</a>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <a href="#"><img src="images/movie3.png" /></a>
                          <a href="#" class="text">Суперпташки. Улётная миссия (2D, 0+)</a>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <a href="#"><img src="images/movie4.png" /></a>
                          <a href="#" class="text">Гарфилд (предсеанс. обсл) & "Остановка" (2D, 6+)</a>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <a href="#"><img src="images/movie1.png" /></a>
                          <a href="#" class="text">Манюня: Приключения в Москве (2D, 6+)</a>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <a href="#"><img src="images/movie2.png" /></a>
                          <a href="#" class="text">Незнакомцы: Начало (2D, 18+)</a>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <a href="#"><img src="images/movie3.png" /></a>
                          <a href="#" class="text">Суперпташки. Улётная миссия (2D, 0+)</a>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <a href="#"><img src="images/movie4.png" /></a>
                          <a href="#" class="text">Гарфилд (предсеанс. обсл) & "Остановка" (2D, 6+)</a>
                      </div>
                  </div>
                  <div class="swiper-button-prev goodwin-swiper-button-prev">
                      {{> modules/common/svg-icon/index src="icons/arrow.svg" }}
                  </div>
                  <div class="swiper-button-next goodwin-swiper-button-next">
                      {{> modules/common/svg-icon/index src="icons/arrow.svg" }}
                  </div>
              </div>
          </section>
      </div>
      <section class="lookbooks">
          <div class="lookbooks__label-row">
              <span class="lookbooks__label">Lookbooks</span>
              <a href="#" class="lookbooks__all">
                  <span>Смотреть все </span>
                  {{> modules/common/svg-icon/index src="icons/promoArrow.svg" }}
              </a>
          </div>
          <div class="swiper lookbooks__swiper">
              <div class="swiper-wrapper">
                  <a href="#" class="swiper-slide lookbooks__swiper-slide">
                      <img src="images/lookbook1.png" />
                  </a>
                  <a href="#" class="swiper-slide lookbooks__swiper-slide">
                      <img src="images/lookbook2.png" />
                  </a>
                  <a href="#" class="swiper-slide lookbooks__swiper-slide">
                      <img src="images/lookbook3.png" />
                  </a>
              </div>
          </div>
      </section>
      <section class="info">
          <img class="info__izumrud" src="images/rightIzumrud.png" />

        <div class="info__buttons">
            <a href="#" class="info__button">
                {{> modules/common/svg-icon/index src="icons/arendators.svg" }}
                <span>Арендаторам</span>
            </a>
            <a href="#" class="info__button">
                {{> modules/common/svg-icon/index src="icons/advertisers.svg" }}
                <span>Рекламодателям</span>
            </a>
            <a href="#" class="info__button">
                {{> modules/common/svg-icon/index src="icons/vacancies.svg" }}
                <span>Вакансии</span>
            </a>
        </div>
          <div class="info__right-block">
              <ul class="info__list">
                  <li>Современный дизайн здания и интерьеров</li>
                  <li>Удачное месторасположение</li>
                  <li>Уникальные международные бренды</li>
                  <li>Самый большой торгово-развлекательный центр Томска</li>
              </ul>
              <div class="info__description">
                  <div>
                      {{> modules/common/svg-icon/index src="icons/car.svg" }}
                      <span>800 парковочных мест</span>
                  </div>
                  <div>
                      {{> modules/common/svg-icon/index src="icons/lift.svg" }}
                      <span>Панорамные лифты</span>
                  </div>
                  <div>
                      {{> modules/common/svg-icon/index src="icons/shop.svg" }}
                      <span>Гипермаркет</span>
                  </div>
                  <div>
                      {{> modules/common/svg-icon/index src="icons/beauty.svg" }}
                      <span>Салоны красоты</span>
                  </div>
                  <div>
                      {{> modules/common/svg-icon/index src="icons/foodcort.svg" }}
                      <span>Фудкорт</span>
                  </div>
                  <div>
                      {{> modules/common/svg-icon/index src="icons/wardrobe.svg" }}
                      <span>Гардероб</span>
                  </div>
                  <div>
                      {{> modules/common/svg-icon/index src="icons/atm.svg" }}
                      <span>Банкоматы</span>
                  </div>
                  <div>
                      {{> modules/common/svg-icon/index src="icons/info.svg" }}
                      <span>Стойка информации</span>
                  </div>
              </div>
          </div>
      </section>
    <div class="page__block page__block_offset">
      <ul>
        {{# each menu}}
          <li>
            <a href="{{this.link}}">{{this.title}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/ modules/layout/default/index }}
