{{#> modules/layout/default/index }}
  <div class="page page_gray page-index">
      <section>
          <div class="swiper main-swiper">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                      <div class="slide-image">
                          {{> modules/common/svg-icon/index src="images/main_banner.svg" }}
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="slide-image">
                          {{> modules/common/svg-icon/index src="images/main_banner.svg" }}
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="slide-image">
                          {{> modules/common/svg-icon/index src="images/main_banner.svg" }}
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="slide-image">
                          {{> modules/common/svg-icon/index src="images/main_banner.svg" }}
                      </div>
                  </div>
                  <div class="swiper-slide">
                      <div class="slide-image">
                          {{> modules/common/svg-icon/index src="images/main_banner.svg" }}
                      </div>
                  </div>
              </div>
              <div class="swiper-pagination"></div>
          </div>
      </section>
      <section class="tiles">
        <div class="tile">
            {{> modules/common/svg-icon/index src="images/shop_icon.svg" }}
            <span>Магазины</span>
        </div>
          <a href="#" class="tile">
              {{> modules/common/svg-icon/index src="images/kids.svg" }}
              <span>Детям</span>
          </a>
          <a href="#" class="tile">
              {{> modules/common/svg-icon/index src="images/uslugi.svg" }}
              <span>Услуги</span>
          </a>
          <a href="#" class="tile">
              {{> modules/common/svg-icon/index src="images/food.svg" }}
              <span>Еда</span>
          </a>
          <a href="#" class="tile">
              {{> modules/common/svg-icon/index src="images/services.svg" }}
              <span>Сервисы</span>
          </a>
          <a href="#" class="tile">
              {{> modules/common/svg-icon/index src="images/entertaintments.svg" }}
              <span>Развлечения</span>
          </a>
          <a href="#" class="tile">
              {{> modules/common/svg-icon/index src="images/photos.svg" }}
              <span>Фотографии</span>
          </a>
      </section>
      <section class="promo">
          <div class="promo__label-row">
              <span class="promo__label">Сейчас в изумрудном</span>
              <a href="#" class="promo__all-promo">
                  <span>Все предложения </span>
                  {{> modules/common/svg-icon/index src="images/promoArrow.svg" }}
              </a>
          </div>
          <div class="swiper promo-swiper">
              <div class="swiper-wrapper">
                  <div class="swiper-slide coupon-swiper-slide">
                      <img src="images/malina.png" />
                  </div>
                  <div class="swiper-slide coupon-swiper-slide">
                      <img src="images/marmalato.png" />
                  </div>
                  <div class="swiper-slide coupon-swiper-slide">
                      <img src="images/gloriaJeans.png" />
                  </div>
                  <div class="swiper-slide coupon-swiper-slide">
                      <img src="images/reStore.png" />
                  </div>
              </div>
          </div>
      </section>
      <div class="purple-container">
          <section class="coupons">
              <div class="coupons__main-info">
                  <img class="coupons__main-info__right-izumrud" src="images/rightIzumrud.png" />
                  <img class="coupons__main-info__left-izumrud" src="images/leftIzumrud.png" />
                  <div class="coupons__main-info__text">
                      <span class="coupons__main-info__label">Накапливай Изумруды
                      – получай купоны</span>
                      <span class="coupons__main-info__value">1 Изумруд = 100₽</span>
                      <div class="coupons__main-info__question-container">
                          <span class="coupons__main-info__question">как получить изумруды?</span>
                      </div>
                  </div>

                  <div class="coupons__main-info__app">
                      <img class="coupons__main-info__app-qr" src="images/qr.png" />
                      <div class="coupons__main-info__app-info">
                      <span class="coupons__main-info__mobile-app-label">
                          Cкачайте бесплатное
                          приложение
                      </span>
                          <a href="#" class="coupons__main-info__app-link">
                              <img class="coupons__main-info__app-image" src="images/appStore.png" />
                          </a>
                          <a href="#" class="coupons__main-info__app-link">
                              <img class="coupons__main-info__app-image" src="images/googlePlay.png" />
                          </a>
                          <span class="coupons__main-info__desktop-app-label">
                          Наведите камеру
                          и скачайте
                          бесплатное приложение
                      </span>
                      </div>
                  </div>
              </div>
              <div class="coupons__items-container">
                  <div class="coupons__items-container__row">
                      <span class="coupons__items-container__label">Наши комплименты</span>
                      <a href="#" class="coupons__items-container__all">
                          Доступно 47 купонов
                          {{> modules/common/svg-icon/index src="images/whiteArrow.svg" }}
                      </a>
                  </div>
                  <div class="swiper coupons-swiper">
                      <div class="swiper-wrapper">
                          <div class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon2.png" />
                          </div>
                          <div class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon2.png" />
                          </div>
                          <div class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon2.png" />
                          </div>
                          <div class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon3.png" />
                          </div>
                          <div class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon3.png" />
                          </div>
                          <div class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon4.png" />
                          </div>
                          <div class="swiper-slide coupon-swiper-slide">
                              <img src="images/coupon4.png" />
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section class="goodwin">
              <div class="goodwin__label-container">
                <span class="goodwin__label">Кинотеатр GOODWIN</span>
                  <a href="#" class="goodwin__link">
                      <span>Все сеансы</span>
                      {{> modules/common/svg-icon/index src="images/whiteArrow.svg" }}
                  </a>
              </div>
              <div class="goodwin__buttons-container">
                  <a href="#" class="goodwin__promo-link">
                      Акции
                  </a>
                  <img class="goodwin__cinema-logo" src="images/goodwin.png" />

                  <div class="goodwin__poster-buttons">
                      <button class="goodwin__poster-type-button">Сегодня в кино</button>
                      <button class="goodwin__poster-type-button">Скоро в кино</button>
                  </div>
              </div>
              <div class="swiper goodwin-swiper">
                  <div class="swiper-wrapper">
                      <div class="swiper-slide goodwin-swiper__slide">
                          <img src="images/movie1.png" />
                          <span>Манюня: Приключения в Москве (2D, 6+)</span>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <img src="images/movie2.png" />
                          <span>Незнакомцы: Начало (2D, 18+)</span>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <img src="images/movie3.png" />
                          <span>Суперпташки. Улётная миссия (2D, 0+)</span>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <img src="images/movie4.png" />
                          <span>Гарфилд (предсеанс. обсл) & "Остановка" (2D, 6+)</span>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <img src="images/movie1.png" />
                          <span>Манюня: Приключения в Москве (2D, 6+)</span>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <img src="images/movie2.png" />
                          <span>Незнакомцы: Начало (2D, 18+)</span>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <img src="images/movie3.png" />
                          <span>Суперпташки. Улётная миссия (2D, 0+)</span>
                      </div>
                      <div class="swiper-slide goodwin-swiper__slide">
                          <img src="images/movie4.png" />
                          <span>Гарфилд (предсеанс. обсл) & "Остановка" (2D, 6+)</span>
                      </div>
                  </div>
                  <div class="swiper-button-prev goodwin-swiper-button-prev">
                      {{> modules/common/svg-icon/index src="images/arrow.svg" }}
                  </div>
                  <div class="swiper-button-next goodwin-swiper-button-next">
                      {{> modules/common/svg-icon/index src="images/arrow.svg" }}
                  </div>
              </div>
          </section>
      </div>
    <div class="page__block page__block_offset">
      <ul>
        {{# each menu}}
          <li>
            <a href="{{this.link}}">{{this.title}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
{{/ modules/layout/default/index }}
