@import (reference) 'src/style/mixins';

.banners {
  margin-inline: calc((50dvw - min(50%, 720px)) * -1);
}

.main-swiper {
  .slide-image {
    height: 100%;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .swiper-pagination-bullet {
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
    margin-inline: 1px !important;
    opacity: 1;
    transition: all 0.3s ease-in;

    @media (@lg-min) {
      width: 10px;
      height: 10px;
      margin-inline: 5px !important;
      border-radius: 5px;
    }
  }

  .swiper-pagination-bullet-active {
    width: 6px;
    background-color: #fff;
    margin-inline: 0 !important;

    @media (@lg-min) {
      width: 30px;
      margin-inline: 0 !important;
    }
  }

  .swiper-pagination {
    bottom: 6px;

    @media (@lg-min) {
      bottom: 30px;
    }
  }
}

.tiles {
  padding: 20px 20px 40px;
  display: flex;
  gap: 10px 20px;
  flex-wrap: wrap;

  @media (@lg-min) {
    gap: 15px;
    padding: 60px 70px;
    justify-content: center;
  }
}

.tile {
  padding: 5px 10px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #fff;
  width: calc(50% - 10px);
  transition: background-color ease-in 0.2s;

  &:hover {
    background-color: #F2F2F2;
  }

  @media (@lg-min) {
    padding-block: 40px;
    gap: 15px;
    flex-direction: column;
    width: 260px;
  }

  svg {
    width: 20px;
    height: 20px;

    @media (@lg-min) {
      width: 60px;
      height: 60px;
    }
  }

  span {
    font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    color: #000;

    @media (@lg-min) {
      font-size: 24px;
      font-weight: 400;
      line-height: 21.6px;
    }
  }
}

.promo {
  width: 100%;
  position: relative;
  padding-bottom: 60px;
  background-image: url(images/lineBackground.svg);
  background-size: cover;
  background-repeat: no-repeat;

  @media (@lg-min) {
    width: 100dvw;
    margin-inline: calc((50dvw - min(50%, 720px)) * -1);
    padding-inline: calc((50dvw - min(50%, 720px) + 100px));
  }

  &__label-row {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    gap: 30px;
    align-items: center;

    @media (@lg-min) {
      padding-left: 0;
      justify-content: space-between;
    }
  }

  &__label {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #000;

    @media (@lg-min) {
      font-size: 32px;
      font-weight: 700;
      line-height: 38.4px;
    }
  }

  &__all-promo {
    display: flex;
    align-items: center;
    color: #503872;
    font-size: 16px;
    span {
      display: none;
    }

    &:hover {
      color: #503872;
    }

    svg {
      width: 20px;
      height: 8px;
    }

    @media (@lg-min) {
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      gap: 10px;

      span {
        display: initial;
      }

      svg {
        margin-bottom: 2px;
      }
    }
  }
}

.promo-mobile-swiper {
  @media (@lg-min) {
    display: none;
  }
}

.promo-desktop-items {
  display: none;
  @media (@lg-min) {
    display: block;
    width: 100%;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      flex: 1;
      display: flex;

      &:nth-child(2) {
        transform: translateY(-20px);
      }
    }
  }
}

.purple-container {
  width: 100%;
  position: relative;
  overflow: hidden;

  background-image: url(images/couponsBackground.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  @media (@lg-min) {
    background-image: url(images/purpleBackgroundDesktop.svg);
    width: 100dvw;
    margin-inline: calc((50dvw - min(50%, 720px)) * -1);
    padding-inline: calc((50dvw - min(50%, 720px)));
    padding-bottom: 60px;
  }

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.coupons {
  display: flex;
  flex-direction: column;

  &__main-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 40px;

    @media (@lg-min) {
      padding: 60px 100px 50px;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (@lg-min) {
        align-items: flex-start;
      }
    }

    &__label {
      font-size: 16px;
      line-height: 1em;
      font-weight: 700;
      text-align: center;
      white-space: pre-line;

      text-shadow: 0 2px 30px rgba(250, 0, 255, 0.5);


      @media (@lg-min) {
        display: none;
      }
    }

    &__value {
      margin-top: 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      text-align: center;

      @media (@lg-min) {
        margin-top: 30px;
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
        text-align: left;
      }
    }

    &__question-container {
      margin-top: 5px;
      display: flex;
      justify-content: center;
      backdrop-filter: blur(6px);
      box-shadow: 0.1px 0.1px 0.1px -0.1px rgba(255, 255, 255, 0.5) inset;
      background: #00000033;
      padding: 4px 54px;
      border-radius: 10px;

      @media (@lg-min) {
        margin-top: 20px;
        padding: 12px 76px;
      }
    }

    &__question {
      font-size: 10px;
      font-weight: 200;
      line-height: 10px;
      text-align: center;

      @media (@lg-min) {
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
      }
    }

    &__app {
      margin-top: 30px;

      @media (@lg-min) {
        margin-top: 0;
        display: flex;
        gap: 30px;
      }
    }

    &__app-qr {
      display: none;

      @media (@lg-min) {
        display: initial;
        width: 205px;
        height: 205px;
      }
    }

    &__app-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (@lg-min) {
        align-items: flex-start;
      }
    }

    &__mobile-app-label {
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      text-align: center;
      white-space: pre-line;
      margin-bottom: 10px;

      @media (@lg-min) {
        display: none;
      }
    }

    &__desktop-app-label {
      display: none;

      @media (@lg-min) {
        display: initial;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        white-space: pre-line;
      }
    }

    &__app-link {
      &:first-of-type {
        margin-bottom: 10px;
      }

      @media (@lg-min) {
        &:first-of-type {
          margin-bottom: 5px;
        }
      }
    }

    &__app-image {
      width: 120px;

      @media (@lg-min) {
        width: 165px;
      }
    }

    &__left-izumrud,
    &__right-izumrud {
      position: absolute;
      z-index: 1;
    }

    &__left-izumrud {
      position: absolute;
      z-index: 1;
      width: 172px;
      top: 145px;
      left: calc(50% - 220px);

      @media (@lg-min) {
        width: 346px;
        top: 20px;
        left: calc(50% - 300px);
      }
    }

    &__right-izumrud {
      position: absolute;
      z-index: 1;
      width: 220px;
      top: 70px;
      right: calc(50% - 260px);

      @media (@lg-min) {
        width: 220px;
        top: 10px;
        right: calc(50% - 54px);
      }
    }
  }

  &__items-container {
    &__row {
      margin-bottom: 30px;
      display: flex;
      justify-content: center;

      @media (@lg-min) {
        margin-bottom: 0;
        padding-inline: 100px;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__label {
      display: none;

      @media (@lg-min) {
        display: initial;
        font-size: 32px;
        font-weight: 700;
        line-height: 38.4px;
      }
    }

    &__all {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 1em;
      font-weight: 700;
      width: fit-content;
      gap: 10px;

      svg {
        width: 20px;
        height: 8px;
      }

      @media (@lg-min) {
        font-size: 24px;
        font-weight: 400;
        line-height: 21.6px;
        gap: 10px;

        span {
          display: initial;
        }

        svg {
          margin-bottom: 2px;
        }
      }
    }

    .coupons-swiper {
      @media (@lg-min) {
        padding-inline: 100px;
        padding-top: 40px;

        .swiper-slide {
          transition: all 0.2s ease-in-out;

        }
        .swiper-slide:hover {
          transform: translateY(-20px);
        }
      }
    }
  }
}

.goodwin-mobile {
  padding: 60px 0 50px;
  @media (@lg-min) {
    display: none;
  }
}

.goodwin-desktop {
  display: none;
  @media (@lg-min) {
    color: #fff;
    padding-block: 60px;
    display: block;
    background-image: url(images/purpleBackgroundDesktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100dvw;
    margin-inline: calc((50dvw - min(50%, 720px))* -1);
    padding-inline: calc(50dvw - min(50%, 720px) + 100px);
  }
}

.goodwin-mobile,
.goodwin-desktop {
  .goodwin-label-container {
    margin-inline: auto;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    @media (@lg-min) {
      width: auto;
      margin-inline: 0;
      margin-bottom: 30px;
    }
  }

  .goodwin-label {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;


    @media (@lg-min) {
      font-size: 32px;
      font-weight: 700;
      line-height: 38.4px;
    }
  }

  .goodwin-link {
    display: flex;

    @media (@lg-min) {
      display: none;
    }

    svg {
      width: 20px;
      height: 8px;
    }
  }

  .goodwin-buttons-container {
    margin-inline: auto;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    @media (@lg-min) {
      width: auto;
      margin-inline: 0;
      justify-content: flex-start;
      margin-bottom: 50px;
    }
  }

  .goodwin-promo-link {
    padding: 9px 24px;
    border: 1px solid #fff;
    border-radius: 21px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    transition: background ease-in 0.2s;
    color: #fff;

    @media (@lg-min) {
      font-size: 18px;
      font-weight: 400;
      line-height: 16.2px;
      padding: 13px 24px;
    }

    &:hover {
      background: rgba(124, 64, 153, 1);
    }
  }

  .goodwin-cinema-logo {
    height: 41px;

    @media (@lg-min) {
      display: none;
    }
  }

  .goodwin-desktop-link {
    display: flex;
    align-items: center;
    color: #fff;
    width: fit-content;
    gap: 10px;

    span {
      font-size: 24px;
      font-weight: 400;
      line-height: 21.6px;
    }

    svg {
      margin-bottom: 2px;
      width: 20px;
      height: 8px;
    }
  }

  .goodwin-poster-buttons {
    width: 100%;
    display: flex;
    border: 1px solid #fff;
    border-radius: 21px;
    overflow: hidden;

    @media (@lg-min) {
      width: fit-content;
      margin-inline: 70px auto;
    }
  }

  .goodwin-poster-type-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 9px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #fff;
    background: rgba(0, 0, 0, 0);
    transition: background ease-in 0.2s;
    border: none;
    cursor: pointer;

    @media (@lg-min) {
      flex: none;
      padding: 14px 22px;
      font-size: 18px;
      font-weight: 400;
      line-height: 16.2px;
    }

    &:hover {
      background: rgba(124, 64, 153, 1);
    }

    &:first-child {
      border-right: 0.5px solid #fff;
    }

    &:last-child {
      border-left: 0.5px solid #fff;
    }
  }

  .goodwin-swiper {
    &__slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      img {
        width: 100%;
        object-fit: contain;
      }

      a {
        display: flex;
        color: #fff;
      }

      .text {
        padding-inline: 16px;
        white-space: pre-line;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;

        @media (@lg-min) {
          font-size: 20px;
          font-weight: 400;
          line-height: 26px;
          padding: 0;
        }
      }
    }
  }

  .goodwin-desktop-swiper {
    flex: 1;
  }

  .goodwin-desktop-swiper-container {
    display: flex;
    align-items: center;
    position: relative;
    gap: 15px;

    .popcorn {
      position: absolute;
      width: 212px;
      bottom: -60px;
      right: -100px;
    }

    .goodwin-swiper-button-prev,
    .goodwin-swiper-button-next {
      position: initial;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      border: 3px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.2s ease-in-out;

      &:after {
        display: none;
      }

      svg {
        width: 35%;
      }
    }

    .goodwin-swiper-button-prev {
      svg {
        transform: rotate(180deg) translateX(10%);
      }
    }

    .goodwin-swiper-button-next {
      svg {
        transform: translateX(10%);
      }
    }
  }
}

.lookbooks {
  padding-block: 40px;

  @media (@lg-min) {
    padding: 70px 100px 90px;
  }

  &__label-row {
    margin-bottom: 20px;
    padding-left: 20px;
    display: flex;
    gap: 120px;
    align-items: center;

    @media (@lg-min) {
      margin-bottom: 0;
      padding-left: 0;
      gap: 0;
      justify-content: space-between;
    }
  }

  &__label {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #000;

    @media (@lg-min) {
      font-size: 32px;
      font-weight: 700;
      line-height: 38.4px;
    }
  }

  &__all {
    display: flex;
    align-items: center;
    color: #503872;
    font-size: 16px;
    span {
      display: none;
    }

    &:hover {
      color: #503872;
    }

    svg {
      width: 20px;
      height: 8px;
    }

    @media (@lg-min) {
      font-size: 24px;
      font-weight: 400;
      line-height: 21.6px;
      gap: 10px;

      span {
        display: initial;
      }

      svg {
        margin-bottom: 2px;
      }
    }
  }

  &__swiper {
    @media (@lg-min) {
      padding-top: 30px;
    }
  }

  &__swiper-slide {
    display: flex;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    @media (@lg-min) {
      border-radius: 20px;
      img {
        transition: all ease-in-out 0.3s;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}

.info {
  display: flex;
  padding: 0 28px 40px;
  position: relative;

  @media (@lg-min) {
    padding: 120px 100px;
    gap: 54px;
    overflow: hidden;
  }

  &__izumrud {
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 40px;
    width: 184px;
    display: none;
    pointer-events: none;

    @media (@lg-min) {
      display: initial;
    }
  }

  &__line-background {
    display: none;

    @media (@lg-min) {
      display: block;
    }
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 95%;
    overflow: hidden;
    left: -100px;

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__buttons {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: space-around;

    @media (@lg-min) {
      justify-content: initial;
      flex: initial;
      gap: 20px;
      flex-direction: column;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    @media (@lg-min) {
      width: 260px;
      height: 160px;
      gap: 15px;
      border-radius: 8px;
      background-color: #fff;

      transition: background-color ease-in 0.2s;

      &:hover {
        background-color: #F2F2F2;
      }
    }

    svg {
      width: 20px;
      height: 20px;
      fill: none;

      @media (@lg-min) {
        width: 60px;
        height: 60px;
      }
    }

    span {
      font-size: 10px;
      font-weight: 200;
      line-height: 10px;
      color: #000;

      @media (@lg-min) {
        font-size: 24px;
        font-weight: 400;
        line-height: 21.6px;
      }
    }
  }

  &__right-block {
    display: none;

    @media (@lg-min) {
      display: block;
      flex: 1;
    }
  }

  &__list {
    margin-block: 0 76px;
    padding-left: 20px;
    li {
      padding-left: 20px;
      font-size: 24px;
      font-weight: 400;
      line-height: 21.6px;
      color: #000;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      &::marker {
        color: #503872;
      }
    }
  }

  &__description {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;

    div {
      display: flex;
      align-items: center;
      gap: 30px;

      svg {
        width: 40px;
        height: 40px;
        object-fit: contain;
        fill: none;
      }

      span {
        margin-top: 2px;
        font-size: 18px;
        font-weight: 400;
        line-height: 16.2px;
        color: #503872;
      }
    }
  }
}

.promo-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  color: #fff;

  img {
    width: 100%;
    object-fit: contain;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__name {
    position: absolute;
    top: 12.3%;
    left: 10%;
    font-size: calc(10px + 31 * (100vw - 320px) / 880);
    font-weight: 700;
    line-height: 0.9em;
    color: #fff;

    @media (@lg-min) {
      font-size: 24px;
      font-weight: 700;
      line-height: 21.6px;
    }
  }

  &__type {
    position: absolute;
    top: 12%;
    right: 9.2%;
    font-size: calc(10px + 31 * (100vw - 320px) / 880);
    font-weight: 200;
    line-height: 1em;

    @media (@lg-min) {
      font-size: 18px;
      font-weight: 400;
      line-height: 16.2px;
    }
  }

  &__description {
    position: absolute;
    bottom: 10.3%;
    left: 7.7%;
    right: 3.8%;
    font-size: calc(10px + 31 * (100vw - 320px) / 880);
    font-weight: 400;
    line-height: 1em;

    @media (@lg-min) {
      font-size: 24px;
      font-weight: 400;
      line-height: 21.6px;
    }
  }

  @media (@lg-min) {
    border-radius: 20px;

    img,
    .promo-card__content {
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      img,
      .promo-card__content {
        transform: scale(1.05);
      }
    }
  }
}

.lookbook-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  color: #fff;

  img {
    width: 100%;
    object-fit: contain;
  }

  &__text {
    position: absolute;
    bottom: 9%;
    left: 7.7%;
    right: 3.8%;
    white-space: pre-line;

    font-size: calc(12px + 37 * (100vw - 320px) / 880);
    font-weight: 400;
    line-height: 1em;

    @media (@lg-min) {
      bottom: 138px;
      left: 0;
      right: 0;
      font-size: calc(34px + 5 * (100vw - 1280px) / 160);
      font-weight: 700;
      line-height: 0.9em;
      text-shadow: 5px 5px 20px #00000099;
      text-align: center;
    }
  }

  @media (@lg-min) {
    border-radius: 20px;

    img,
    .lookbook-card__text {
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      img,
      .lookbook-card__text {
        transform: scale(1.05);
      }
    }
  }
}

.coupon-card {
  width: 100%;
  aspect-ratio: 13 / 18;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  background-color: #fff;

  &__top-image {
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__brand-image-container {
    position: absolute;
    top: 37%;
    left: 0;
    width: 100%;
    height: 17.5%;
    padding: 4.6% 9.9%;

    img {
      height: 100%;
    }

    @media (@lg-min) {
      top: 42%;
    }
  }

  &__description {
    position: absolute;
    top: 55%;
    left: 7%;
    right: 8.8%;
    font-size: calc(10px + 31 * (100vw - 320px) / 880);
    font-weight: 600;
    line-height: 1em;
    color: #282828;

    @media (@lg-min) {
      top: 61%;
      font-size: 32px;
      font-weight: 400;
      line-height: 28.8px;
    }
  }

  &__date {
    position: absolute;
    top: 74%;
    left: 7%;
    right: 8.8%;
    font-size: calc(10px + 31 * (100vw - 320px) / 880);
    font-weight: 400;
    line-height: 1em;
    color: #000;

    @media (@lg-min) {
      top: 77%;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
    }
  }

  &__izumrud {
    position: absolute;
    left: 7%;
    bottom: 5.2%;
    width: 6%;
  }

  &__izumrud-count {
    position: absolute;
    left: 15%;
    bottom: 5.2%;
    font-size: calc(10px + 31 * (100vw - 320px) / 880);
    font-weight: 600;
    line-height: 1em;
    color: #009970;

    @media (@lg-min) {
      font-size: 32px;
      font-weight: 700;
      line-height: 38.4px;
    }
  }

  &__more {
    position: absolute;
    right: 8%;
    bottom: 5.2%;
    font-size: calc(8px + 25 * (100vw - 320px) / 880);
    font-weight: 400;
    line-height: 1em;
    color: #009870;

    @media (@lg-min) {
      bottom: 6.5%;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
    }
  }

  @media (@lg-min) {
    border-radius: 20px;

    img {
      transition: all 0.3s ease-in-out;
    }
  }
}