<div id="global-search">
    <div class="search-row">
        <div class="search-container">
            <input id="search-input" placeholder="Что вы хотите найти?" />
            {{> modules/common/svg-icon/index src="icons/search.svg" }}
        </div>
        <button id="desktop-close-search-button">Закрыть</button>
    </div>
    <div class="search-result">
        <a href="#" class="search-result__item">
            <span class="search-result__item__header">Акция «Летний SALE в ZARINA»</span>
            <span class="search-result__item__description">ZARINA - первый российский фэшн-бренд с 30-летней историей. Бренд вдохновляет на свершения</span>
        </a>
        <a href="#" class="search-result__item">
            <span class="search-result__item__header">«Zarina»</span>
            <span class="search-result__item__description">Скидки до 50%</span>
        </a>
        <a href="#" class="search-result__item">
            <span class="search-result__item__header">Акция «До -70% на любимые товары в магазине»</span>
            <span class="search-result__item__description">Скидки до 50%</span>
        </a>
        <a href="#" class="search-result__item">
            <span class="search-result__item__header">Акция «200 бонусов в Zarina»</span>
            <span class="search-result__item__description">200 бонусов в подарок при регистрации в Zarina Club</span>
        </a>
        <a href="#" class="search-result__item">
            <span class="search-result__item__header">Акция «Летний SALE в ZARINA»</span>
            <span class="search-result__item__description">ZARINA - первый российский фэшн-бренд с 30-летней историей. Бренд вдохновляет на свершения</span>
        </a>
        <a href="#" class="search-result__item">
            <span class="search-result__item__header">«Zarina»</span>
            <span class="search-result__item__description">Скидки до 50%</span>
        </a>
        <a href="#" class="search-result__item">
            <span class="search-result__item__header">Акция «До -70% на любимые товары в магазине»</span>
            <span class="search-result__item__description">Скидки до 50%</span>
        </a>
        <a href="#" class="search-result__item">
            <span class="search-result__item__header">Акция «200 бонусов в Zarina»</span>
            <span class="search-result__item__description">200 бонусов в подарок при регистрации в Zarina Club</span>
        </a>
    </div>
    <div class="running-line running-line__animation running-line__margin">
        <span>GLORIA JEANCE</span>
        <span>MO</span>
        <span>ZARINA</span>
        <span>GLORIA JEANCE</span>
        <span>MO</span>
        <span>ZARINA</span>
        <span>GLORIA JEANCE</span>
        <span>MO</span>
        <span>ZARINA</span>
    </div>
    <div class="running-line running-line__animation-reverse">
        <span>MO</span>
        <span>ZARINA</span>
        <span>GLORIA JEANCE</span>
        <span>MO</span>
        <span>ZARINA</span>
        <span>GLORIA JEANCE</span>
        <span>MO</span>
        <span>ZARINA</span>
        <span>GLORIA JEANCE</span>
    </div>
</div>