<div class="header">
    <div class="header__inner-container">
        <div class="box__row header__row">
            <div class="box__col box__col_xs_2 box__col_sm_4">
                <div class="header__menu-container">
                    <button class="header__menu-btn">
                        {{> modules/common/svg-icon/index src="icons/burger.svg" }}
                    </button>
                    <a class="header__map">
                        {{> modules/common/svg-icon/index src="icons/map.svg" }}
                        <span class="header__text">Карта этажей</span>
                    </a>
                    <a class="header__location">
                        {{> modules/common/svg-icon/index src="icons/place.svg" }}
                        <span class="header__text">Как добраться</span>
                    </a>
                </div>
            </div>
            <div class="box__col box__col_xs_6 header__center">
                <a href="/izumrud-project/" class="header__logo">
                    {{> modules/common/svg-icon/index src="icons/logo.svg" }}
                </a>
            </div>

            <div class="box__col box__col_xs_4">
                <div class="header__menu-container header__menu-container_end">
                    <button id="search-button" class="header__search visible">
                        {{> modules/common/svg-icon/index src="icons/search.svg" }}
                        <span class="header__text">поиск</span>
                    </button>
                    <button id="close-search-button">
                        {{> modules/common/svg-icon/index src="icons/close.svg" }}
                    </button>
                    <a id="desktop-time" class="header__time">
                        {{> modules/common/svg-icon/index src="icons/time.svg" }}
                        <span class="header__text">сегодня до 22:00</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="box__row hidden_lg hidden_xl">
            <div class="box__col box__col_xs_4">
                <a class="header__map header__mobile-container">
                    {{> modules/common/svg-icon/index src="icons/map.svg" }}
                    <span class="header__text">Карта этажей</span>
                </a>
            </div>
            <div class="box__col box__col_xs_4">
                <a class="header__location header__mobile-container">
                    {{> modules/common/svg-icon/index src="icons/place.svg" }}
                    <span class="header__text">Как добраться</span>
                </a>
            </div>
            <div class="box__col box__col_xs_4">
                <div id="schedule-mobile-button" class="header__time header__mobile-container">
                    {{> modules/common/svg-icon/index src="icons/time.svg" }}
                    <span class="header__text">Время работы</span>
                </div>
            </div>
        </div>
        <div id="schedule-desktop-container">{{> modules/layout/schedule/index }}</div>
    </div>
    <div id="schedule-mobile-container">
        <div id="schedule-mobile-container-overlay">
            {{> modules/layout/schedule/index }}
        </div>
    </div>
    {{> modules/layout/search/index }}
</div>

