<div class="schedule">
    <img class="schedule__shop-build" src="images/shopBuild.png" />
    <div class="schedule__content">
        <div class="schedule__label-row">
            {{> modules/common/svg-icon/index src="images/clock.svg" }}
            <span>Время работы</span>
        </div>
        <div class="schedule__schedule-outer-container">
            {{> modules/common/svg-icon/index src="images/clock.svg" }}
            <div class="schedule__schedule-inner-container">
                <div class="schedule__day-item">
                    <span>ПН</span>
                    <span>
                        10:00
                        22:00
                    </span>
                </div>
                <div class="schedule__day-item active">
                    <span>ВТ</span>
                    <span>
                        10:00
                        22:00
                    </span>
                </div>
                <div class="schedule__day-item">
                    <span>СР</span>
                    <span>
                        10:00
                        22:00
                    </span>
                </div>
                <div class="schedule__day-item">
                    <span>ЧТ</span>
                    <span>
                        10:00
                        22:00
                    </span>
                </div>
                <div class="schedule__day-item">
                    <span>ПТ</span>
                    <span>
                        10:00
                        22:00
                    </span>
                </div>
                <div class="schedule__day-item">
                    <span>СБ</span>
                    <span>
                        10:00
                        22:00
                    </span>
                </div>
                <div class="schedule__day-item">
                    <span>ВС</span>
                    <span>
                        10:00
                        22:00
                    </span>
                </div>
            </div>
        </div>
        <div class="schedule__custom-schedule-container">
            <div class="schedule__custom-schedule-item">
                <span class="schedule__custom-schedule-item__name">INTERSPAR</span>
                <span class="schedule__custom-schedule-item__type">Супермаркет</span>
                <span class="schedule__custom-schedule-item__time">10:00 - 23:00</span>
            </div>
            <div class="schedule__custom-schedule-item">
                <span class="schedule__custom-schedule-item__name">WEZION</span>
                <span class="schedule__custom-schedule-item__type">Компьютерный клуб</span>
                <span class="schedule__custom-schedule-item__time">Круглосуточно</span>
            </div>
            <div class="schedule__custom-schedule-item">
                <span class="schedule__custom-schedule-item__name">GOODWIN
                    CINEMA
                </span>
                <span class="schedule__custom-schedule-item__type">Кинотеатр</span>
                <span class="schedule__custom-schedule-item__time">10:00 - 23:00</span>
            </div>
        </div>
    </div>
</div>