<div class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="">
                <div class="footer__logo">
                    {{> modules/common/svg-icon/index src="icons/logo-white.svg" }}
                </div>
                <div class="footer__links">
                    <div class="footer__column">
                        <a href="#">СОУТ</a>
                        <a href="#">Арендаторам</a>
                    </div>
                    <div class="footer__column">
                        <a href="#">Персональные данные</a>
                        <a href="#">Рекламодателям</a>
                    </div>
                    <div class="footer__column">
                        <a href="#">Программа лояльности</a>
                        <a href="#">Вакансии</a>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="footer__socials">
                    <a href="/">
                        {{> modules/common/svg-icon/index src="icons/vk.svg" }}
                    </a>
                    <a href="/">
                        {{> modules/common/svg-icon/index src="icons/telegram.svg" }}
                    </a>
                </div>
                <div class="footer__copyright">
                    <a href="mailto:izumrudniy.tomsk.ru">izumrudniy.tomsk.ru © 2024</a>
                    <p>Все права защищены</p>
                    <a href="#">Персональные данные</a>
                </div>
            </div>
        </div>
    </div>
</div>
