<div id="menu">
    <div class="desktop-menu-container">
        <div class="menu-tile">
            <a class="item-header">
                Магазины
            </a>
            <ul class="menu-list">
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Аксессуары
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Обувь
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Одежда
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Красота и здоровье
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Товары для дома
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Украшение и часы
                    </a>
                </li>
            </ul>
            <a href="#" class="all-shops">Все магазины</a>
        </div>
        <div class="menu-tile">
            <a class="item-header">
                Детям
            </a>
            <ul class="menu-list">
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Детские кафе
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Детские парикмахерские
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Мероприятия для детей
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Прокат детских автомобилей
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-tile">
            <a class="item-header">
                Еда
            </a>
            <ul class="menu-list">
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Рестораны
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Кафе
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Мороженое и сладости
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Кофейни
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-tile">
            <a class="item-header">
                Развлечения
            </a>
            <ul class="menu-list">
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Кино
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Аквариум
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Тир
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Виртуальная реальность
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Киберспортивный клуб
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-tile">
            <a class="item-header">
                Услуги
            </a>
            <ul class="menu-list">
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Банкоматы
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Денежные переводы и обмен валют
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Ателье
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Маникюрные салоны
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Печать фото
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Ремонт мобильных телефонов
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Салон оптики
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-tile">
            <a class="item-header">
                Сервисы
            </a>
            <ul class="menu-list">
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Стойка информации
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Бюро находок
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Гардероб
                    </a>
                </li>
                <li class="list-item">
                    <a href="#" class="list-item-link">
                        Сбор батареек
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-tile">
            <a class="big-link">
                Комплименты
            </a>
            <a class="big-link">
                Новости и акции
            </a>
            <a class="big-link">
                Обратная связь
            </a>
            <div class="menu-socials-container">
                {{> modules/common/svg-icon/index src="icons/vkPurple.svg" }}
                {{> modules/common/svg-icon/index src="icons/telegramPurple.svg" }}
            </div>
        </div>
        <div class="custom-tile">
            <a href="#" class="custom-tile__item">
                {{> modules/common/svg-icon/index src="icons/arendators.svg" }}
                <span>Арендаторам</span>
            </a>
            <a href="#" class="custom-tile__item">
                {{> modules/common/svg-icon/index src="icons/advertisers.svg" }}
                <span>Рекламодателям</span>
            </a>
            <a href="#" class="custom-tile__item">
                {{> modules/common/svg-icon/index src="icons/vacancies.svg" }}
                <span>Вакансии</span>
            </a>
        </div>
    </div>
    <div id="menu-mobile-overlay">
        <div class="mobile-menu-container">
            <a href="#">Магазины</a>
            <a href="#">Детям</a>
            <a href="#">Еда</a>
            <a href="#">Услуги</a>
            <a href="#">Кинотеатр</a>
            <a href="#">Сервисы</a>
            <a href="#">Развлечения</a>
            <a href="#">Вакансии</a>
            <a href="#">Фотографии</a>
            <a href="#">Комплименты</a>
            <a href="#">Арендодателям</a>
            <a href="#">Рекламодателям</a>
            <a href="#">Карта этажей</a>
            <a href="#">Как добраться</a>
            <a href="#">Контакты</a>
        </div>
    </div>
</div>